parameters:
    oxs.heartbeat.cookie_name: 'X-Correlation-Id'
    oxs.heartbeat.header_name: 'X-Correlation-Id'
    oxs.heartbeat.ttl: 2592000 # 30 days in seconds

imports:
    - {resource: src/Component/ApiVersion/services.yaml}
    - {resource: src/Component/DiagnosticsProvider/services.yaml}

services:

    _defaults:
        autowire: true
        public: false

    # ==========================================================================
    # Component: RequestLogger - Infrastructure/Logger
    # ==========================================================================

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\Security\SensitiveDataRedactorInterface:
        class: OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\Security\SensitiveDataRedactor
        public: true

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\LoggerFactory: ~

    oxs.heartbeat.logger.channel:
        class: Monolog\Logger
        factory: ['@OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\LoggerFactory', 'create']

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\ShopRequestRecorder\ShopRequestRecorder:
        arguments:
            $logger: '@oxs.heartbeat.logger.channel'

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\ShopRequestRecorder\ShopRequestRecorderInterface:
        alias: OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\ShopRequestRecorder\ShopRequestRecorder
        public: true

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\CorrelationIdProviderInterface:
        class: OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\CorrelationIdProvider

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\CorrelationIdGeneratorInterface:
        class: OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\CorrelationIdGenerator

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\Processor\CorrelationIdProcessorInterface:
        class: OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\Processor\CorrelationIdProcessor

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Emitter\Decorator\OnceEmitterDecorator: ~

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Emitter\EmitterInterface:
        alias: OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Emitter\Decorator\OnceEmitterDecorator

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Emitter\CookieEmitter:
        arguments:
            $cookieName: '%oxs.heartbeat.cookie_name%'
            $ttl: '%oxs.heartbeat.ttl%'
        tags: ['oxs.heartbeat.cid.emitter']

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Emitter\HeaderEmitter:
        arguments:
            $headerName: '%oxs.heartbeat.header_name%'
        tags: ['oxs.heartbeat.cid.emitter']

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Emitter\Composite\CompositeEmitter:
        arguments:
            $emitters: !tagged_iterator 'oxs.heartbeat.cid.emitter'

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Resolver\ResolverInterface:
        alias: OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Resolver\Composite\CompositeResolver

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Resolver\CookieResolver:
        arguments:
            $cookieName: '%oxs.heartbeat.cookie_name%'
        tags:
            - { name: 'oxs.heartbeat.cid.resolver', priority: 100 }

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Resolver\HeaderResolver:
        arguments:
            $headerName: '%oxs.heartbeat.header_name%'
        tags:
            - { name: 'oxs.heartbeat.cid.resolver', priority: 190 }

    OxidSupport\Heartbeat\Component\RequestLogger\Infrastructure\Logger\CorrelationId\Resolver\Composite\CompositeResolver:
        arguments:
            $resolvers: !tagged_iterator 'oxs.heartbeat.cid.resolver'

    # Component: RequestLogger - Service (LogPathProvider for LogSender)
    OxidSupport\Heartbeat\Component\RequestLogger\Service\LogPathProvider:
        tags:
            - { name: 'oxs.heartbeat.provider' }

    # Component: RequestLogger - Controller/Admin
    OxidSupport\Heartbeat\Component\RequestLogger\Controller\Admin\SettingsController:
        public: true
        autowire: false

    # ==========================================================================
    # Component: ApiUser - Services
    # ==========================================================================

    OxidSupport\Heartbeat\Component\ApiUser\Service\ApiUserStatusServiceInterface:
        class: OxidSupport\Heartbeat\Component\ApiUser\Service\ApiUserStatusService
        public: true

    OxidSupport\Heartbeat\Component\ApiUser\Service\ApiUserServiceInterface:
        class: OxidSupport\Heartbeat\Component\ApiUser\Service\ApiUserService
        public: true

    OxidSupport\Heartbeat\Component\ApiUser\Service\TokenGeneratorInterface:
        class: OxidSupport\Heartbeat\Component\ApiUser\Service\TokenGenerator
        public: true

    # Component: ApiUser - Controller/Admin
    OxidSupport\Heartbeat\Component\ApiUser\Controller\Admin\SetupController:
        public: true
        autowire: false

    # Component: ApiUser - Controller/GraphQL
    OxidSupport\Heartbeat\Component\ApiUser\Controller\GraphQL\PasswordController:
        public: true

    # Component: ApiUser - Framework (GraphQL)
    OxidSupport\Heartbeat\Component\ApiUser\Framework\NamespaceMapper:
        tags: ['graphql_namespace_mapper']

    OxidSupport\Heartbeat\Component\ApiUser\Framework\PermissionProvider:
        public: true
        tags: ['graphql_permission_provider']

    # ==========================================================================
    # Component: RequestLogger - Remote Services
    # ==========================================================================

    OxidSupport\Heartbeat\Component\RequestLogger\Service\Remote\SettingServiceInterface:
        class: OxidSupport\Heartbeat\Component\RequestLogger\Service\Remote\SettingService

    OxidSupport\Heartbeat\Component\RequestLogger\Service\Remote\SetupStatusServiceInterface:
        class: OxidSupport\Heartbeat\Component\RequestLogger\Service\Remote\SetupStatusService
        public: true

    OxidSupport\Heartbeat\Component\RequestLogger\Service\Remote\RemoteComponentStatusServiceInterface:
        class: OxidSupport\Heartbeat\Component\RequestLogger\Service\Remote\RemoteComponentStatusService
        public: true

    # Component: RequestLogger - Remote Controller/GraphQL
    OxidSupport\Heartbeat\Component\RequestLogger\Controller\GraphQL\SettingController:
        public: true

    # Component: RequestLogger - Remote Controller/Admin
    OxidSupport\Heartbeat\Component\RequestLogger\Controller\Admin\PasswordResetController:
        public: true
        autowire: false

    OxidSupport\Heartbeat\Component\RequestLogger\Controller\Admin\RemoteSetupController:
        public: true
        autowire: false

    # Component: RequestLogger - Remote Framework (GraphQL)
    OxidSupport\Heartbeat\Component\RequestLogger\Framework\NamespaceMapper:
        tags: ['graphql_namespace_mapper']

    OxidSupport\Heartbeat\Component\RequestLogger\Framework\PermissionProvider:
        public: true
        tags: ['graphql_permission_provider']

    # ==========================================================================
    # Component: LogSender - Services
    # ==========================================================================

    OxidSupport\Heartbeat\Component\LogSender\Service\LogSenderStatusServiceInterface:
        class: OxidSupport\Heartbeat\Component\LogSender\Service\LogSenderStatusService
        public: true

    OxidSupport\Heartbeat\Component\LogSender\Service\LogReaderServiceInterface:
        class: OxidSupport\Heartbeat\Component\LogSender\Service\LogReaderService
        public: true

    OxidSupport\Heartbeat\Component\LogSender\Service\LogCollectorServiceInterface:
        class: OxidSupport\Heartbeat\Component\LogSender\Service\LogCollectorService
        public: true
        arguments:
            $providers: !tagged_iterator 'oxs.heartbeat.provider'

    # Component: LogSender - Built-in Providers
    OxidSupport\Heartbeat\Component\LogSender\Service\OxidCoreLogPathProvider:
        tags:
            - { name: 'oxs.heartbeat.provider' }

    # Component: LogSender - Controller/Admin
    OxidSupport\Heartbeat\Component\LogSender\Controller\Admin\ManageController:
        public: true
        autowire: false

    # Component: LogSender - Controller/GraphQL
    OxidSupport\Heartbeat\Component\LogSender\Controller\GraphQL\LogController:
        public: true

    # Component: LogSender - Framework (GraphQL)
    OxidSupport\Heartbeat\Component\LogSender\Framework\NamespaceMapper:
        tags: ['graphql_namespace_mapper']

    OxidSupport\Heartbeat\Component\LogSender\Framework\PermissionProvider:
        public: true
        tags: ['graphql_permission_provider']

    # ==========================================================================
    # Shop Facades
    # ==========================================================================

    OxidSupport\Heartbeat\Shop\Facade\ModuleSettingFacadeInterface:
        class: OxidSupport\Heartbeat\Shop\Facade\ModuleSettingFacade
        public: true

    OxidSupport\Heartbeat\Shop\Facade\ShopFacadeInterface:
        class: OxidSupport\Heartbeat\Shop\Facade\ShopFacade
        public: true